/* about page */
.header{
  text-align: center;
  margin-bottom: 25px;
}

.about{
  font-size: 50px;
  color: var(--accent);
  margin: 10px;
}

.intro{
  font-size: medium;
  color: var(--text-secondary);
}


/* about section */
.about-header {
  text-align: center;
  margin-bottom: 25px;
}

.about-title {
  font-size: 50px;
  color: var(--accent);
  margin: 10px;
}

.about-subtitle {
  font-size: medium;
  color: var(--text-secondary);
}

.about-container{
  margin: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  min-width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img{
  border: none;
  border-radius: 50%;
  object-fit: cover;
  filter: grayscale(1);
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-description {
  font-size: 17px;
  line-height: 1.9;
  color: #a4a4af;
  margin-bottom: 25px;
}

.about-hire-button {
  width: 200px;
  padding: 10px 50px;
  background-color: var(--accent);
  color: white;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
}