:root {
  --dark-bg: #0f0f0f;
  --card-bg: #1f1e1e;
  --accent: rgb(238, 112, 27);
  --accent-hover: rgb(242, 100, 6);
  --text-primary: #ffffff;
  --text-secondary: #c0c0c1;
  --card-border: rgba(199, 194, 194, 0.6);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.services-header{
  text-align: center;
  padding: 80px 20px 40px;
}

.section-title{
  font-size: 50px;
  color: var(--accent);
  margin-bottom: 20px;
  background: linear-gradient(90deg, rgb(227, 117, 38), rgb(232, 62, 43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-subtitle{
  font-size: large;
  line-height: 1.8;
  color: var(--text-secondary);

}

.services{
  padding: 40px 0;
}

.services-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  gap: 35px;
  margin-top: 30px;
}


.service-card {
  background: var(--card-bg);
  border-radius: 16px;
  padding: 40px 30px;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--card-border);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  opacity: 0; /* intially invisible */
  transition: all 0.8s ease-out;
}

.from-left {
  transform: translateX(-300px);
}

.from-right {
  transform: translateX(300px);
}

.from-top {
  transform: translateY(-100px);
}

.from-bottom {
  transform: translateY(100px);
}

/* Slides to original position when coming inside the dom */
.service-card.show {
  opacity: 1;
  transform: translate(0,0); 
}

/* for card coming upside when hover*/
.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(255, 123, 78, 0.2);
  border-color: rgba(238, 112, 27, 0.4);
}

/* for the line coming on hover */
.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: var(--accent);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.service-card:hover::before {
  transform: scaleX(1);
}

.service-icon {
  font-size: 3.5rem;
  color: var(--accent);
  margin-bottom: 25px;
  transition: all 0.3s ease;
}

.service-card:hover .service-icon {
  transform: scale(1.1);
}

.service-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--text-primary);
}

.service-description {
  font-size: 1.1rem;
  color: var(--text-secondary);
  line-height: 1.7;
}